$color-black: #000000;
$color-white: #FFFFFF;

$color-grey-10: #1A1A1A;
$color-grey-15: #262626;
$color-grey-20: #333333;
$color-grey-30: #4C4C4D;
$color-grey-35: #59595A;
$color-grey-40: #656567;
$color-grey-60: #98989A;
$color-grey-90: #E6E6E6;

$color-green-50: #9EFF00;
$color-green-60: #B1FF33;
$color-green-70: #C5FF66;
$color-green-80: #D8FF99;
$color-green-90: #ECFFCC;
$color-green-95: #F5FFE5;
$color-green-97: #F9FFF0;
$color-green-99: #FDFFFA;

$spacing-size-1: 4px;
$spacing-size-2: 8px;
$spacing-size-3: 16px;
$spacing-size-4: 24px;
$spacing-size-5: 32px;
$spacing-size-6: 48px;
$spacing-size-7: 64px;

$radius-size-1: 4px;
$radius-size-2: 8px;
$radius-size-3: 12px;
$radius-size-4: 16px;

$font-family-barlow: 'Barlow', sans-serif;
$font-family-inter: 'Inter', sans-serif;

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 24px;
$font-size-6: 32px;
$font-size-7: 48px;
$font-size-8: 64px;

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 600;
$font-weight-4: 700;
$font-weight-5: 800;

$transition-duration-1: 150ms ease;
$transition-duration-2: 250ms ease;
$transition-duration-3: 350ms ease;

$z-dropdown: 100;
$z-sticky: 200;
$z-fixed: 300;
$z-modal: 400;
$z-popover: 500;
